## Assignment 2:

## Que: 1

In [ ]:
a = 0
def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

b()  
b() 
b() 
a

In [ ]:
# Command Executed:

# 1. Variable 'a' was entered in function b. Here, another function c take the input value from a.
# 2. We used global command which means it takes new values each times...
    # First call of the function b() --> function b will take current value of a which is 0 and add 2 in it. so, a = 2 (after executing it)
    # Second call of the function b() --> function b will take current value of a which is 2 and add 2 in it. so, a = 4 (after executing it)
    # Third call of the function b() --> function b will take current value of a which is 4 and add 2 in it. so, a = 6 (after executing it)
#3. At this point a = 6 which will be printed out.

## Que: 2

In [67]:
import os                               
def fileLen(f):                         
    try:                               
        fin = os.stat(f) 
        print(fin.st_size) 
    except IOError:                        
        print("File ", str(f)," not found")

In [65]:
fileLen('idterm.py')

File  idterm.py  not found

## Que: 3

In [60]:
class Marsupial:
    def __init__(self):
        self.a1 = []
    def put_in_pouch(self, input):
        self.a1.append(input)
    def pouch_contents(self):
        print(self.a1)

In [61]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [62]:
class Kangaroo(Marsupial):
    def __init__(self, xcd,ycd):
            self.x = xcd
            self.y = ycd
            self.a1 = []
    def print(self):
        print("I am a Kangaroo located at coordinates:", "(",self.x,",",self.y,")")
        
    def jump(self, jx, jy):
        self.x += jx
        self.y += jy
        return (self.x, self.y)

In [63]:
k = Kangaroo(0,0)
k.print()
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

I am a Kangaroo located at coordinates: ( 0 , 0 )
['doll', 'firetruck', 'kitten']

In [64]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
k.print()

I am a Kangaroo located at coordinates: ( 3 , 0 )

## Que: 4

In [70]:
def Collatz(a):                               
    while a!= 1:                               
        print(a, end = ',')
        if a & 1:                             
            a = 3 * a + 1
        else:    
            a = a // 2                        
    print(a)

In [69]:
Collatz(1)

1

In [68]:
Collatz(10)

10,5,16,8,4,2,1

## Que: 5

In [39]:
#Approach 1: 
def binary(a):
    print('{:b}'.format(a))
    
binary(0)
binary(1)
binary(3)
binary(9)

0
1
11
1001

In [41]:
#Approach 2:

def bin(b):                   
    n = str(b % 2)           
    if b >> 1 > 0:
        n += bin(b >> 1)
    return n
bin(9)

'1001'

## Que: 6

In [133]:
from html.parser import HTMLParser

class HeadingPrsr(HTMLParser):
    headings = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
    flag = 0
    spaces = 0
    def handle_starttag(self, tag, attrs):
        if tag in self.headings:
            self.flag = 1
            self.spaces = int(tag[1]) - 1
           
    def handle_endtag(self, tag):
        if tag == 'h1':
            self.flag = 0
            
    def handle_data(self, data):
        if self.flag:
            print(data.rjust(len(data) + self.spaces), end='\n')

In [134]:
infile = open("C:/Users/Dell/DPFiles/w3c.html")
content = infile.read()
infile.close()
hp = HeadingPrsr()
hp.feed(content)

W3C Mission
 Principles

## Que: 7

In [141]:
from html.parser import HTMLParser
import requests

class UrlParser(HTMLParser):               
 
    def __init__(self):
        self.urls = []                     
        HTMLParser.__init__(self)

    def handle_starttag(self, tag, attrs):
        self.start_tag = tag
        if tag == 'a':                      
            for name,value in attrs:
                if name == 'href':
                    self.urls.append(value)
    def getUrls(self):                   
        return self.urls
    
def webdir(url,depth,indent):
    if(depth==-1):
        return
    tabs = ""
    for x in range(indent):            
        tabs = tabs+"\t"
    print(tabs+url)
    
    urlParser = UrlParser()
    html = requests.get(url)
    urlParser.feed(html.text)
    urls = urlParser.getUrls()

    for _url in urls:
        if(not 'http' in _url):
            _url = url+_url
        webdir(_url,depth-1,indent+1)

In [142]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html',2,0)

http://reed.cs.depaul.edu/lperkovic/test1.html
	http://reed.cs.depaul.edu/lperkovic/test2.html
		http://reed.cs.depaul.edu/lperkovic/test2.htmlmailto:lperkovic@cs.depaul.edu
		http://reed.cs.depaul.edu/lperkovic/test2.htmltest4.html
	http://reed.cs.depaul.edu/lperkovic/test1.htmltest3.html

## Que: 8

In [98]:
import sqlite3
con = sqlite3.connect('FILE1.db')
cur = con.cursor()
cur.execute("CREATE TABLE details (City text, Country text, Season text, Temperature real, Rainfall real)")
cur.execute("INSERT INTO details VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO details VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO details VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
cur.execute('SELECT * FROM details')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [99]:
#Ans: a
cur.execute("SELECT Temperature FROM details")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [101]:
#Ans: b
cur.execute("SELECT DISTINCT city FROM details")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [128]:
#Ans: c
cur.execute("SELECT * FROM details WHERE country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [106]:
#Ans: d
cur.execute("SELECT * FROM details where Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [115]:
#Ans: e
cur.execute("SELECT City, Country, Season FROM details WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kindom', 'Winter'),
 ('London', 'United Kindom', 'Fall')]

In [122]:
#Ans: f
cur.execute("SELECT city, country FROM details WHERE season = 'Fall' AND temperature > 20 ORDER BY temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [126]:
#Ans: g
cur.execute("SELECT SUM(rainfall) AS Total FROM details WHERE city = 'Cairo'")
cur.fetchall()

[(27.6,)]

In [127]:
#Ans: g
cur.execute("SELECT Season, Round(Sum(Rainfall),2) FROM details GROUP BY Season")
cur.fetchall()

[('Fall', 569.0), ('Spring', 192.3), ('Summer', 1706.5), ('Winter', 230.1)]

## Que: 9

In [55]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# for all the answers I used for loop to check each words as question asked.

In [50]:
#Ans a:
for i in range(len(words)):
    words[i] = words[i].upper()          
print(words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [51]:
#Ans b:
for i in range(len(words)):
    words[i] = words[i].lower()          
print(words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [52]:
#Ans c
lettercnt = [len(i) for i in words]          
print(lettercnt)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [53]:
#Ans d:
wordlst = [(word.upper(), word.lower(),len(word)) for word in words]
print (wordlst)

[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]

In [54]:
#Ans e:
e = [i for i in words if len(i) >= 4]       
print(e)

['quick', 'brown', 'jumps', 'over', 'lazy']